.seat-map {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 10px 0;
}
.seat-row {
  display: flex;
  gap: 6px;
}
.seat {
  width: 28px;
  height: 28px;
  font-size: 10px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  background-color: #C9ADA7;
  color: #22223B;
  border-radius: 10px;
}
.seat.available {
  background-color: #C9ADA7;
}
.seat.selected {
  background-color: #9A8C98;
  font-weight: bold;
}
.seat.unavailable {
  background-color: #c62828;
  color: #9A8C98;
  cursor: not-allowed;
}
